<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <!--link rel="icon" href="/img/icn.png"-->
    <link rel="icon" href="https://files.mead.io/bLu6N0WZ">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>
            This site was created by Jona Contreras. It uses data from weatherstack.com.
        </p>

        <img class="portrait other" src="img/img.jpg">

    </div>

    {{>footer}}
</body>


</html>